<?xml version="1.0"?>
<launch>
    <arg name="distance" default="0.8" />
    <node pkg="add_collision_object" type="add_collision_object" name="add_shelf" args="add_collision_object/meshes/shelf.stl shelf /world 
        255 255 255 1 -0.765 $(arg distance) 1.02 0 0 -1.57" output="screen" />

    <node pkg="add_collision_object" type="add_collision_object" name="add_board" args="add_collision_object/meshes/board.stl board /world 
        255 255 255 1 -0.765 $(arg distance) 1.02 0 0 -1.57" output="screen" />

    <node pkg="rubik_cube_solve" type="add" name="add_floor" args="2 2 0.01
    0 0.5 1.0 
    0 0 0 world floor false" output="screen" />

    <!-- <node pkg="rubik_cube_solve" type="add" name="add_table" args="0.4 0.4 0.01
    0.5 0.5 1.20 
    0 0 0 world table" output="screen" /> -->

    <node pkg="rubik_cube_solve" type="add" name="add_wall0" args="0.01 1.8 1.5 
    0.75 0.4 1.5
    0 0 0 
    world qian_wall false" output="screen" /> 

    <node pkg="rubik_cube_solve" type="add" name="add_ceil" args="2 2 0.01 
    0 0.5 2.0
    0 0 0 
    world ceil true" output="screen" /> 
    
</launch>