<launch>
    <node pkg="grasp_place" type="grasp" name="grasp_place" output="screen">
        <rosparam command="load" file="$(find grasp_place)/config/pickObjectNames.yaml" />
        <param name="detectionObjectNum" type="int" value="1" />
        <param name="isGetObject" type="bool" value="false" />
        <param name="pkg_path" type="str" value="$(find grasp_place)" />
        <param name="isLoadPose" type="bool" value="true" />
    </node>
    <include file="$(find rubik_cube_solve)/launch/add.launch" />
    <include file="$(find grasp_place)/launch/add_shelf.launch" />
</launch>