<launch>
    <param name="isRuning_grab" type="bool" value="false" />
    <arg name="isOnlyShow" default="false" />

    <node pkg="grasp_place" type="grasp" name="grasp_place" output="screen">
        <rosparam command="load" file="$(find grasp_place)/config/pickObjectNames.yaml" />
        <param name="detectionObjectNum" type="int" value="2" />
        <param name="isGetObject" type="bool" value="false" />
        <param name="pkg_path" type="str" value="$(find grasp_place)" />
        <param name="isLoadPose" type="bool" value="true" />
        <param name="position_x_add" type="double" value="0.0"  />
        <param name="position_y_add" type="double" value="0.0"  />
        <param name="position_z_add" type="double" value="0.0"  />
        <param name="isOnlyShow" type="bool" value="$(arg isOnlyShow)" />
    </node>
    <include file="$(find grasp_place)/launch/add_shelf.launch" />
</launch>