<launch>
    <node pkg="grasp_place" type="grasp" name="grasp_place" output="screen">
        <param name="isGetObject" type="bool" value="false" />
        <param name="pkg_path" type="str" value="$(find grasp_place)" />
        <param name="isLoadPose" type="bool" value="false" />
    </node>
</launch>